<section>
  <form
    class="signup-form"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
    #f="ngForm"
    (ngSubmit)="onSignUpSubmit(f)"
  >
    <mat-form-field>
      <mat-label>Email address</mat-label>
      <input type="email" name="email" matInput ngModel email required />
      <mat-error>Please enter a valid email address.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>New Password</mat-label>
      <input
        type="password"
        name="password"
        minlength="6"
        #passwordInput
        matInput
        ngModel
        required
      />
      <mat-hint>Your password must be at least 6 characters long.</mat-hint>
      <mat-error>Your password must be at least 6 characters long.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date of birth</mat-label>
      <input
        matInput
        [max]="maxDate"
        [matDatepicker]="signupPicker"
        name="dob"
        ngModel
        required
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="signupPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #signupPicker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox name="terms" ngModel color="primary" required
      >I agree to the Terms, Privacy Policy and Cookies Policy.</mat-checkbox
    >

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid"
    >
      Submit
    </button>
  </form>
</section>
